kayak_kafka_frontend/public/stylesheets/* linguist-vendored
kayak_react/public/css/* linguist-vendored
kayak_react/public/css/* linguist-vendored
kayak_react/public/css/* linguist-vendored
kayak_react/src/css/* linguist-vendored
kayak_react/src/css/* linguist-vendored
kayak_react/src/design/css/* linguist-vendored
kayak_react/src/design/css/* linguist-vendored
